<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
                {{!-- <li><a href="/">Home</a></li> --}}
                <li class="active"><a href="tweets">Tweets</a></li>
                <li><a href="settings">Settings</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="page-title"><h1>Tweets</h1></div>

<div id="tweets-container" class="container"> 
  <div class="row">
    <div class="col-sm-4 timeline-column">
        <div class="account-title">Tweets by @{{userAccountTweetsA.0.screenName}}</div>
        {{#each userAccountTweetsA}}
            <blockquote class="twitter-tweet Tweet h-entry js-tweetIdInfo subject expanded is-deciderHtmlWhitespace" cite="https://twitter.com/{{this.screenName}}/status/{{this.id}}" data-tweet-id="{{this.id}}" data-scribe="section:subject">
                {{#if retweeted}}
                    <p class="retweet-indicator">{{this.authorName}} retweeted</p>
                {{/if}}
                <div class="Tweet-header u-cf">
                    <div class="Tweet-brand u-floatRight">
                        <a href="https://twitter.com/{{this.authorName}}/status/{{this.id}}" data-scribe="element:logo" target="_blank">
                            <span class="FollowButton-bird">
                                <div class="fa fa-twitter" aria-label="View on Twitter" title="View on Twitter" role="presentation">
                                Follow</div>
                            </span>
                        </a>
                    </div>

                    <div class="TweetAuthor js-inViewportScribingTarget js-aBScribingTarget" data-scribe="component:author">
                        <a class="TweetAuthor-link Identity u-linkBlend" data-scribe="element:user_link" href="https://twitter.com/{{this.screenName}}" aria-label="{{this.screenName}} (screen name: {{this.screenName}})" target="_blank">
                            <span class="TweetAuthor-avatar Identity-avatar">
                                <img class="Avatar Avatar--edge" data-scribe="element:avatar" data-src-2x="{{this.profileImageUrl}}" alt="" data-src-1x="{{this.profileImageUrl}}" src="{{this.profileImageUrl}}">
                            </span>
                            <span class="TweetAuthor-decoratedName">
                                <span class="TweetAuthor-name TweetAuthor-name--flex Identity-name customisable-highlight" title="{{this.screenName}}" data-scribe="element:name">{{this.screenName}}</span>
                            </span>
                            <span class="TweetAuthor-screenName Identity-screenName" title="@{{this.screenName}}" data-scribe="element:screen_name" dir="ltr">@{{this.screenName}}</span>
                        </a>
                    </div>
                </div>

                <div class="Tweet-body e-entry-content" data-scribe="component:tweet">
                
                <div class="u-hiddenVisually js-inViewportScribingTarget"></div>
                <p class="Tweet-text e-entry-title" lang="en" dir="ltr">
                    {{{this.tweetText}}}
                </p>

                {{#if this.summaryUrl}}
                <div class="summary-card">
                    <a class="summary-url" href="{{this.summaryUrl}}" target="_blank">
                        <div>
                            <p>{{this.summaryTitle}}</p>
                            <p>{{this.summaryDescription}}</p>
                        </div>
                    </a>
                </div>
                {{/if}}

                <div class="Tweet-metadata dateline">      
                    <a class="u-linkBlend u-url customisable-highlight long-permalink" data-datetime="{{this.createdAt}}" data-scribe="element:full_timestamp" href="https://twitter.com/{{this.screenName}}/status/{{this.id}}" target="_blank">
                        <time class="dt-updated" datetime="{{this.createdAt}}" pubdate="" title="Time posted: {{this.createdAt}}">{{this.createdAt}}</time>
                    </a>
                </div>

                <div class="u-hiddenVisually js-aBScribingTarget"></div>

                <ul class="Tweet-actions" data-scribe="component:actions" role="menu" aria-label="Tweet actions">
                    <div class="Tweet-action">
                        <a class="TweetAction--replyEdge web-intent" href="https://twitter.com/intent/tweet?in_reply_to={{this.id}}" data-scribe="element:reply" target="_blank">
                            <div class="fa fa-comment-o TweetAction-fa fa-comment-oEdge" aria-label="Reply" title="Reply" role="img"></div>
                            <span class="TweetAction-stat" data-scribe="element:reply_count" aria-hidden="true"></span>
                            <span class="u-hiddenVisually"> Reply</span>
                        </a>
                    </div>
                    <div class="Tweet-action">
                        <a class="TweetAction--retweetEdge web-intent" href="https://twitter.com/intent/retweet?tweet_id={{this.id}}" data-scribe="element:retweet" target="_blank">
                            <div class="fa fa-retweet TweetAction-fa fa-retweetEdge" aria-label="Retweet" title="Retweet" role="img"></div>
                            <span class="TweetAction-stat" data-scribe="element:retweet_count" aria-hidden="true"></span>
                            <span class="u-hiddenVisually"> Retweet</span>
                        </a>
                    </div>
                    <div class="Tweet-action">
                        <a class="TweetAction--heartEdge web-intent" href="https://twitter.com/intent/like?tweet_id={{this.id}}" data-scribe="element:heart" target="_blank">
                            <div class="fa fa-heart-o TweetAction-fa fa-heart-oEdge" aria-label="Like" title="Like" role="img"></div>
                            <span class="TweetAction-stat" data-scribe="element:heart_count" aria-hidden="true"></span>
                            <span class="u-hiddenVisually"> Like</span>
                        </a>
                    </div>
                </ul>

                </div>
            </blockquote>
        {{/each}}
    </div>
    <div class="col-sm-4 timeline-column">
        <div class="account-title">Tweets by @{{userAccountTweetsB.0.screenName}}</div>
        {{#each userAccountTweetsB}}
            <blockquote class="twitter-tweet Tweet h-entry js-tweetIdInfo subject expanded is-deciderHtmlWhitespace" cite="https://twitter.com/{{this.screenName}}/status/{{this.id}}" data-tweet-id="{{this.id}}" data-scribe="section:subject">
                {{#if retweeted}}
                    <p class="retweet-indicator">{{this.screenName}} retweeted</p>
                {{/if}}
                <div class="Tweet-header u-cf">
                    <div class="Tweet-brand u-floatRight">
                        <a href="https://twitter.com/{{this.screenName}}/status/{{this.id}}" data-scribe="element:logo" target="_blank">
                            <span class="FollowButton-bird">
                                <div class="fa fa-twitter" aria-label="View on Twitter" title="View on Twitter" role="presentation">
                                Follow</div>
                            </span>
                        </a>
                    </div>

                    <div class="TweetAuthor js-inViewportScribingTarget js-aBScribingTarget" data-scribe="component:author">
                        <a class="TweetAuthor-link Identity u-linkBlend" data-scribe="element:user_link" href="https://twitter.com/{{this.screenName}}" aria-label="{{this.screenName}} (screen name: {{this.screenName}})" target="_blank">
                            <span class="TweetAuthor-avatar Identity-avatar">
                                <img class="Avatar Avatar--edge" data-scribe="element:avatar" data-src-2x="{{this.profileImageUrl}}" alt="" data-src-1x="{{this.profileImageUrl}}" src="{{this.profileImageUrl}}">
                            </span>
                            <span class="TweetAuthor-decoratedName">
                                <span class="TweetAuthor-name TweetAuthor-name--flex Identity-name customisable-highlight" title="{{this.screenName}}" data-scribe="element:name">{{this.screenName}}</span>
                            </span>
                            <span class="TweetAuthor-screenName Identity-screenName" title="@{{this.screenName}}" data-scribe="element:screen_name" dir="ltr">@{{this.screenName}}</span>
                        </a>
                    </div>
                </div>

                <div class="Tweet-body e-entry-content" data-scribe="component:tweet">
                
                <div class="u-hiddenVisually js-inViewportScribingTarget"></div>
                <p class="Tweet-text e-entry-title" lang="en" dir="ltr">
                    {{{this.tweetText}}}
                </p>

                {{#if this.summaryUrl}}
                <div class="summary-card">
                    <a class="summary-url" href="{{this.summaryUrl}}" target="_blank">
                        <div>
                            <p>{{this.summaryTitle}}</p>
                            <p>{{this.summaryDescription}}</p>
                        </div>
                    </a>
                </div>
                {{/if}}

                <div class="Tweet-metadata dateline">      
                    <a class="u-linkBlend u-url customisable-highlight long-permalink" data-datetime="{{this.createdAt}}" data-scribe="element:full_timestamp" href="https://twitter.com/{{this.screenName}}/status/{{this.id}}" target="_blank">
                        <time class="dt-updated" datetime="{{this.createdAt}}" pubdate="" title="Time posted: {{this.createdAt}}">{{this.createdAt}}</time>
                    </a>
                </div>

                <div class="u-hiddenVisually js-aBScribingTarget"></div>

                <ul class="Tweet-actions" data-scribe="component:actions" role="menu" aria-label="Tweet actions">
                    <div class="Tweet-action">
                        <a class="TweetAction--replyEdge web-intent" href="https://twitter.com/intent/tweet?in_reply_to={{this.id}}" data-scribe="element:reply" target="_blank">
                            <div class="fa fa-comment-o TweetAction-fa fa-comment-oEdge" aria-label="Reply" title="Reply" role="img"></div>
                            <span class="TweetAction-stat" data-scribe="element:reply_count" aria-hidden="true"></span>
                            <span class="u-hiddenVisually"> Reply</span>
                        </a>
                    </div>
                    <div class="Tweet-action">
                        <a class="TweetAction--retweetEdge web-intent" href="https://twitter.com/intent/retweet?tweet_id={{this.id}}" data-scribe="element:retweet" target="_blank">
                            <div class="fa fa-retweet TweetAction-fa fa-retweetEdge" aria-label="Retweet" title="Retweet" role="img"></div>
                            <span class="TweetAction-stat" data-scribe="element:retweet_count" aria-hidden="true"></span>
                            <span class="u-hiddenVisually"> Retweet</span>
                        </a>
                    </div>
                    <div class="Tweet-action">
                        <a class="TweetAction--heartEdge web-intent" href="https://twitter.com/intent/like?tweet_id={{this.id}}" data-scribe="element:heart" target="_blank">
                            <div class="fa fa-heart-o TweetAction-fa fa-heart-oEdge" aria-label="Like" title="Like" role="img"></div>
                            <span class="TweetAction-stat" data-scribe="element:heart_count" aria-hidden="true"></span>
                            <span class="u-hiddenVisually"> Like</span>
                        </a>
                    </div>
                </ul>

                </div>
            </blockquote>
        {{/each}}
    </div>
    <div class="col-sm-4 timeline-column">
        <div class="account-title">Tweets by @{{userAccountTweetsC.0.screenName}}</div>
        {{#each userAccountTweetsC}}
            <blockquote class="twitter-tweet Tweet h-entry js-tweetIdInfo subject expanded is-deciderHtmlWhitespace" cite="https://twitter.com/{{this.screenName}}/status/{{this.id}}" data-tweet-id="{{this.id}}" data-scribe="section:subject">
                {{#if retweeted}}
                    <p class="retweet-indicator">{{this.screenName}} retweeted</p>
                {{/if}}
                <div class="Tweet-header u-cf">
                    <div class="Tweet-brand u-floatRight">
                        <a href="https://twitter.com/{{this.screenName}}/status/{{this.id}}" data-scribe="element:logo" target="_blank">
                            <span class="FollowButton-bird">
                                <div class="fa fa-twitter" aria-label="View on Twitter" title="View on Twitter" role="presentation">
                                Follow</div>
                            </span>
                        </a>
                    </div>

                    <div class="TweetAuthor js-inViewportScribingTarget js-aBScribingTarget" data-scribe="component:author">
                        <a class="TweetAuthor-link Identity u-linkBlend" data-scribe="element:user_link" href="https://twitter.com/{{this.screenName}}" aria-label="{{this.screenName}} (screen name: {{this.screenName}})" target="_blank">
                            <span class="TweetAuthor-avatar Identity-avatar">
                                <img class="Avatar Avatar--edge" data-scribe="element:avatar" data-src-2x="{{this.profileImageUrl}}" alt="" data-src-1x="{{this.profileImageUrl}}" src="{{this.profileImageUrl}}">
                            </span>
                            <span class="TweetAuthor-decoratedName">
                                <span class="TweetAuthor-name TweetAuthor-name--flex Identity-name customisable-highlight" title="{{this.screenName}}" data-scribe="element:name">{{this.screenName}}</span>
                            </span>
                            <span class="TweetAuthor-screenName Identity-screenName" title="@{{this.screenName}}" data-scribe="element:screen_name" dir="ltr">@{{this.screenName}}</span>
                        </a>
                    </div>
                </div>

                <div class="Tweet-body e-entry-content" data-scribe="component:tweet">
                
                <div class="u-hiddenVisually js-inViewportScribingTarget"></div>
                <p class="Tweet-text e-entry-title" lang="en" dir="ltr">
                    {{{this.tweetText}}}
                </p>

                {{#if this.summaryUrl}}
                <div class="summary-card">
                    <a class="summary-url" href="{{this.summaryUrl}}" target="_blank">
                        <div>
                            <p>{{this.summaryTitle}}</p>
                            <p>{{this.summaryDescription}}</p>
                        </div>
                    </a>
                </div>
                {{/if}}

                <div class="Tweet-metadata dateline">      
                    <a class="u-linkBlend u-url customisable-highlight long-permalink" data-datetime="{{this.createdAt}}" data-scribe="element:full_timestamp" href="https://twitter.com/{{this.screenName}}/status/{{this.id}}" target="_blank">
                        <time class="dt-updated" datetime="{{this.createdAt}}" pubdate="" title="Time posted: {{this.createdAt}}">{{this.createdAt}}</time>
                    </a>
                </div>

                <div class="u-hiddenVisually js-aBScribingTarget"></div>

                <ul class="Tweet-actions" data-scribe="component:actions" role="menu" aria-label="Tweet actions">
                    <div class="Tweet-action">
                        <a class="TweetAction--replyEdge web-intent" href="https://twitter.com/intent/tweet?in_reply_to={{this.id}}" data-scribe="element:reply" target="_blank">
                            <div class="fa fa-comment-o TweetAction-fa fa-comment-oEdge" aria-label="Reply" title="Reply" role="img"></div>
                            <span class="TweetAction-stat" data-scribe="element:reply_count" aria-hidden="true"></span>
                            <span class="u-hiddenVisually"> Reply</span>
                        </a>
                    </div>
                    <div class="Tweet-action">
                        <a class="TweetAction--retweetEdge web-intent" href="https://twitter.com/intent/retweet?tweet_id={{this.id}}" data-scribe="element:retweet" target="_blank">
                            <div class="fa fa-retweet TweetAction-fa fa-retweetEdge" aria-label="Retweet" title="Retweet" role="img"></div>
                            <span class="TweetAction-stat" data-scribe="element:retweet_count" aria-hidden="true"></span>
                            <span class="u-hiddenVisually"> Retweet</span>
                        </a>
                    </div>
                    <div class="Tweet-action">
                        <a class="TweetAction--heartEdge web-intent" href="https://twitter.com/intent/like?tweet_id={{this.id}}" data-scribe="element:heart" target="_blank">
                            <div class="fa fa-heart-o TweetAction-fa fa-heart-oEdge" aria-label="Like" title="Like" role="img"></div>
                            <span class="TweetAction-stat" data-scribe="element:heart_count" aria-hidden="true"></span>
                            <span class="u-hiddenVisually"> Like</span>
                        </a>
                    </div>
                </ul>

                </div>
            </blockquote>
        {{/each}}
    </div>    
  </div>
</div> 