<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h1>Tweets {{title}}</h1>
<p>Tweets {{title}}</p>

<p>Tweets</p>
{{!-- {{tweets}} --}}

<div class="container"> 
  <div class="row">
    <div class="col-sm-4 timeline-column">
        <div class="account-title">Tweets by @AppDirect</div>
        {{#each appDirectTweets}}
            <blockquote class="twitter-tweet">
                <p>ID: {{this.id}}</p>
                <p>user-name: {{this.userName}}</p>            
                <p>created-at: {{this.created-at}}</p>
                <p>full-text : {{this.fullText}}</p>
                <a href="{{this.summaryUrl}}" target="_blank">
                    <div class="summary-card">
                        <p>summary-card: {{this.summaryCard}}</p>
                        <p>summary-site: {{this.summarySite}}</p>
                        <p>summary-title: {{this.summaryTitle}}</p>
                        <p>summary-description: {{this.summaryDescription}}</p>
                    </div>
                </a>
            </blockquote>
        {{/each}}
    </div>
    <div class="col-sm-4 timeline-column">
        <div class="account-title">Tweets by @LaughingSquid</div>
        {{#each laughingSquidTweets}}
            <blockquote class="twitter-tweet">
                <p>ID: {{this.id}}</p>
                <p>user-name: {{this.userName}}</p>            
                <p>created-at: {{this.created-at}}</p>
                <p>full-text : {{this.fullText}}</p>
                <a href="{{this.summaryUrl}}" target="_blank">
                    <div class="summary-card">
                        <p>summary-card: {{this.summaryCard}}</p>
                        <p>summary-site: {{this.summarySite}}</p>
                        <p>summary-title: {{this.summaryTitle}}</p>
                        <p>summary-description: {{this.summaryDescription}}</p>
                    </div>
                </a>
            </blockquote>
        {{/each}}
    </div>
    <div class="col-sm-4 timeline-column">
        <div class="account-title">Tweets by @TechCrunch</div>
        {{#each techCrunchTweets}}
            <blockquote class="twitter-tweet">
                <p>ID: {{this.id}}</p>
                <p>user-name: {{this.userName}}</p>            
                <p>created-at: {{this.created-at}}</p>
                <p>full-text : {{this.fullText}}</p>
                <a href="{{this.summaryUrl}}" target="_blank">
                    <div class="summary-card">
                        <p>summary-card: {{this.summaryCard}}</p>
                        <p>summary-site: {{this.summarySite}}</p>
                        <p>summary-title: {{this.summaryTitle}}</p>
                        <p>summary-description: {{this.summaryDescription}}</p>
                    </div>
                </a>
            </blockquote>
        {{/each}}
    </div>    
  </div>
</div> 